/*when it comes to responsive desing we will use the @media quary 
in css to set new dimensions of the webpage 
after it is changed to phone layout*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

/* Mobile devices */
@media screen and (max-width: 480px) {

/* General */
body {
margin: 0;
padding: 0;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
line-height: 1.45;
background-color: #F4EEE0;
}

/* Header */
header {
padding: 40px 0;
}

h1 {
font-size: 2rem;
margin: 0 0 12px 0;
}

h2 {
font-weight: 300;
font-size: 1.25rem;
margin: 0 0 12px 0;
}

/* Button */
.btn {
display: block;
font-size: 18px;
margin: 0 auto;
width: 200px;
padding: 12px 16px;
}

/* Sections */
section {
padding: 25px 0 15px 0;
}

/* Features */
.features .container {
padding: 0 10px;
}

.feature {
width: 100%;
display: block;
margin-bottom: 20px;
font-size: 16px;
}

.feature img {
width: 60%;
margin: 0 auto;
}

/* Quote */
.quote {
padding: 20px 0;
}

blockquote p {
font-size: 20px;
}

blockquote cite {
font-size: 14px;
}

/* Footer */
footer {
padding: 20px 0;
}

footer li {
display: block;
margin-bottom: 10px;
}

}

/* Tablets and small desktops */
@media screen and (max-width: 767px) {

/* Features */
.features .container {
padding: 0 20px;
}

.feature {
width: 100%;
margin-right: 0;
}

/* Footer */
footer ul {
text-align: center;
}

footer li {
display: inline-block;
margin: 0 10px;
}

}
